BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always

AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All

BreakBeforeBraces: Allman
